.qb-answer {
  display: block;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}
.qb-answer.correct {
  background-color: #c8f7c5;
}
.qb-answer.uncorrect {
  background-color: #f8c8c8;
}
.qb-result {
  font-weight: bold;
  margin-top: 20px;
}